Django==6.0.6
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.2
psycopg2-binary==2.9.9
numpy-financial==1.6
numpy==1.24.3
pandas==2.0.3
cloudinary==1.36.0
gunicorn==21.2.0
whitenoise==6.6.0
python-decouple==3.8
